/CIS2232_Example_Fall2014/build/
/Student/nbproject/private/
/Student/build/
/Student/dist/
/CIS2232Pin/nbproject/private/
/CIS2232Pin/build/
/CIS2232Pin/dist/
/PinWeb/nbproject/private/
/PinWeb/build/
/PinWeb2/nbproject/private/
/PinWeb2/build/
/HelloSpring/dist/
/PinWeb2/dist/
/PinWebStruts/nbproject/private/